.contain {
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 200px;
    transition: all .8s;
    transform: translateX(-50%);
    color: #fff;
    overflow: hidden;
    cursor: pointer;
}
.contain .ul {
    /* height: 100%; */
    list-style: none;
    padding:0; 
    margin:0;
}
.contain .ul .items {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
}
.ul li.show{
    display: block;
}
.ul li {
    display: none;
    padding:0; 
    margin:0;
}
.ul li img {
    width: 100%;
    height: 100%;
    background-size: cover;
}
.contain .dots {
     position: absolute;
     left: 50%;
     bottom: 20px;
     height: 10px;
     transform: translateX(-50%);
}
.dots li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
    border-radius: 50%;
    transition: all .3s;
    background-color: antiquewhite;
    list-style: none;
}
.dots li.active {
   background-color: blue;
}

